
.hide{
    display:none;
}
#cardDeck , #summaryPage{
    margin-top: 50px;
}
.startButton{
    font-size:x-large;
    padding: 9 , 15;
}

.currentQuestion{
    font-size: x-large;
}

.nav-link{
    font-size: large;
}
.bigMainText{
    margin-bottom: 30px;
}

.highScoreChart{
    margin-left: 30px;
}
.scorePointsDisplay{
    font-size: xx-large;
    margin-top: 10;
    margin-bottom: 0;
}
.addToBoard{
    margin-bottom: 20px;
}